<html>
    <head>
      {% if title %}
      <title>{{ title }} - sh-db</title>
      {% else %}
      <title>sh-db</title>
      {% endif %}
    </head>
    <body>
        <div>sh-db: <a href="/index">Home</a>  <a href="/upload">Upload</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
